---
import "../styles/heroui.css";

import Header from "../component/Header";
import Footer from "../component/Footer";
---
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bersekolah - Buka Pintu Pendidikan Bersama Kami</title>
    <link rel="icon" href="/storage/logo-bersekolah-08.png" type="image/x-icon">
  </head>
  <body>
    <Header client:visible />
    <div id="app">
      <slot />
    </div>
    <Footer client:visible />
  </body>
</html>
